In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/raw/dados.csv')

In [15]:
df.head()

,sql_registration_number,transaction_nature,transaction_value_declared,transaction_date,reference_market_value,transmitted_proportion,proportional_reference_market_value,adopted_calculation_base,financing_type,financed_value,...,address_name,address,state,district,zone,lat,lng,city,city_ibge,ddd
0,13944000322,1.Compra e venda,264000.0,2022-12-22 00:00:00,15828870.0,0.20,31657.7400,264000.0,1.Sistema Financeiro de Habitação,166320.00,...,Nordestina,Avenida Nordestina,SP,Vila Nova Curuçá,leste,-23.51802,-46.42164,São Paulo,3550308.0,11.0
1,6726500084,1.Compra e venda,800000.0,2022-12-23 00:00:00,846885.0,100.00,846885.0000,846885.0,1.Sistema Financeiro de Habitação,400000.00,...,Juripiranga,Rua Juripiranga,SP,Parque Vitória,norte,-23.47005,-46.59494,São Paulo,3550308.0,11.0
2,13944000322,1.Compra e venda,203700.0,2022-12-22 00:00:00,15828870.0,0.01,1582.8870,203700.0,1.Sistema Financeiro de Habitação,144059.51,...,Nordestina,Avenida Nordestina,SP,Vila Nova Curuçá,leste,-23.51802,-46.42164,São Paulo,3550308.0,11.0
3,5614900926,1.Compra e venda,264000.0,2022-12-22 00:00:00,3403192.0,0.08,2722.5536,264000.0,1.Sistema Financeiro de Habitação,183400.00,...,Antônio de Barros,Rua Antônio de Barros,SP,Vila Carrão,leste,-23.53885,-46.55771,São Paulo,3550308.0,11.0
4,13944000322,1.Compra e venda,200550.0,2022-12-22 00:00:00,15828870.0,0.01,1582.8870,200550.0,1.Sistema Financeiro de Habitação,100433.00,...,Nordestina,Avenida Nordestina,SP,Vila Nova Curuçá,leste,-23.51802,-46.42164,São Paulo,3550308.0,11.0

In [ ]:
df.tail()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175457 entries, 0 to 175456
Data columns (total 35 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   sql_registration_number              175457 non-null  int64
 1   transaction_nature                   175457 non-null  object
 2   transaction_value_declared           175457 non-null  float64
 3   transaction_date                     175457 non-null  object
 4   reference_market_value               175457 non-null  float64
 5   transmitted_proportion               175457 non-null  float64
 6   proportional_reference_market_value  175457 non-null  float64
 7   adopted_calculation_base             175457 non-null  float64
 8   financing_type                       72551 non-null   object
 9   financed_value                       175457 non-null  float64
 10  registry_office                      175457 non-null  object
 11  property_registration                175457 non-null  int64
 12  sql_status                           175457 non-null  object
 13  land_area_m2                         175457 non-null  int64
 14  frontage_m                           175457 non-null  float64
 15  ideal_fraction                       175457 non-null  float64
 16  built_area_m2                        175457 non-null  int64
 17  iptu_use                             175457 non-null  int64
 18  iptu_use_description                 175457 non-null  object
 19  iptu_standard                        175457 non-null  int64
 20  iptu_standard_description            175457 non-null  object
 21  iptu_acc                             146019 non-null  float64
 22  cep                                  175457 non-null  int64
 23  number                               175457 non-null  int64
 24  address_type                         175436 non-null  object
 25  address_name                         175436 non-null  object
 26  address                              175436 non-null  object
 27  state                                175436 non-null  object
 28  district                             175436 non-null  object
 29  zone                                 175436 non-null  object
 30  lat                                  175436 non-null  float64
 31  lng                                  175436 non-null  float64
 32  city                                 175436 non-null  object
 33  city_ibge                            175436 non-null  float64
 34  ddd                                  175436 non-null  float64
dtypes: float64(13), int64(8), object(14)
memory usage: 46.9+ MB

In [9]:
df.shape

(175457, 35)

In [5]:
df.columns

Index(['sql_registration_number', 'transaction_nature',
       'transaction_value_declared', 'transaction_date',
       'reference_market_value', 'transmitted_proportion',
       'proportional_reference_market_value', 'adopted_calculation_base',
       'financing_type', 'financed_value', 'registry_office',
       'property_registration', 'sql_status', 'land_area_m2', 'frontage_m',
       'ideal_fraction', 'built_area_m2', 'iptu_use', 'iptu_use_description',
       'iptu_standard', 'iptu_standard_description', 'iptu_acc', 'cep',
       'number', 'address_type', 'address_name', 'address', 'state',
       'district', 'zone', 'lat', 'lng', 'city', 'city_ibge', 'ddd'],
      dtype='object')

In [10]:
df.isnull().sum()

sql_registration_number                     0
transaction_nature                          0
transaction_value_declared                  0
transaction_date                            0
reference_market_value                      0
transmitted_proportion                      0
proportional_reference_market_value         0
adopted_calculation_base                    0
financing_type                         102906
financed_value                              0
registry_office                             0
property_registration                       0
sql_status                                  0
land_area_m2                                0
frontage_m                                  0
ideal_fraction                              0
built_area_m2                               0
iptu_use                                    0
iptu_use_description                        0
iptu_standard                               0
iptu_standard_description                   0
iptu_acc                                29438
cep                                         0
number                                      0
address_type                               21
address_name                               21
address                                    21
state                                      21
district                                   21
zone                                       21
lat                                        21
lng                                        21
city                                       21
city_ibge                                  21
ddd                                        21
dtype: int64

In [13]:
df.value_counts()

sql_registration_number  transaction_nature  transaction_value_declared  transaction_date     reference_market_value  transmitted_proportion  proportional_reference_market_value  adopted_calculation_base  financing_type                     financed_value  registry_office                     property_registration  sql_status     land_area_m2  frontage_m  ideal_fraction  built_area_m2  iptu_use  iptu_use_description                                 iptu_standard  iptu_standard_description                                iptu_acc  cep      number  address_type  address_name                          address                                       state  district         zone    lat        lng        city       city_ibge  ddd
30105400571              1.Compra e venda    264000.0                    2022-11-18 00:00:00  11830043.0              0.01                    1183.0043                            264000.0                  2.Minha Casa Minha Vida            211200.0        11º Cartório de Registro de Imóvel  485156                 Ativo Predial  5180          125.50      1.0000          118            62        GARAGEM (EXCLUSIVE EM PRÉDIO EM CONDOMÍNIO)          31             COMERCIAL HORIZONTAL                                     1980.0    5724904  303     Avenida       Alberto Augusto Alves, 303            Avenida Alberto Augusto Alves, 303            SP     Vila Andrade     sul     -23.64089  -46.73574  São Paulo  3550308.0  11.0    87
9309601965               1.Compra e venda    264000.0                    2023-02-28 00:00:00  39560953.0              0.24                    94946.2872                           264000.0                  1.Sistema Financeiro de Habitação  211200.0        11º Cartório de Registro de Imóvel  483488                 Ativo Predial  25680         116.38      1.0000          17765          50        INDÚSTRIA                                            85             INDÚSTRIA                                                1981.0    4763001  602     Rua           Augusto Ferreira de Morais            Rua Augusto Ferreira de Morais                SP     Socorro          sul     -23.66718  -46.71523  São Paulo  3550308.0  11.0    70
8700602604               1.Compra e venda    264000.0                    2023-08-11 00:00:00  13027448.0              0.23                    29963.1304                           264000.0                  1.Sistema Financeiro de Habitação  211200.0        11º Cartório de Registro de Imóvel  494639                 Ativo Predial  4133          46.20       1.0000          3143           64        OUTRAS EDIFICAÇÕES DO TIPO, COM UTILIZAÇÃO MÚLTIPLA  83             OFICINA, POSTO DE SERVIÇO, ARMAZÉM/DEPÓSITO, INDÚSTRIA   1991.0    4730020  177     Rua           África do Sul                         Rua África do Sul                             SP     Várzea de Baixo  sul     -23.64253  -46.72158  São Paulo  3550308.0  11.0    35
5402902178               1.Compra e venda    252120.0                    2023-07-25 00:00:00  331867.0                0.35                    1161.5345                            252120.0                  1.Sistema Financeiro de Habitação  201696.0        9º Cartório de Registro de Imóvel   349737                 Ativo Predial  154           7.00        0.5000          64             10        RESIDÊNCIA                                           12             RESIDENCIAL HORIZONTAL                                   1970.0    3313000  325     Rua           Francisco Marengo                     Rua Francisco Marengo                         SP     Tatuapé          leste   -23.54873  -46.55757  São Paulo  3550308.0  11.0    30
9309601965               1.Compra e venda    264000.0                    2023-02-28 00:00:00  39560953.0              0.26                    102858.4778                          264000.0                  1.Sistema Financeiro de Habitação  211200.0        11º Cartório de Registro de Imóvel  483488                 Ativo Predial  25680         116.38      1.0000          17765          50        INDÚSTRIA                                            85             INDÚSTRIA                                                1981.0    4763001  602     Rua           Augusto Ferreira de Morais            Rua Augusto Ferreira de Morais                SP     Socorro          sul     -23.66718  -46.71523  São Paulo  3550308.0  11.0    25
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ..
31011702931              1.Compra e venda    680000.0                    2023-07-05 00:00:00  510635.0                100.00                  510635.0000                          680000.0                  1.Sistema Financeiro de Habitação  612000.0        8º Cartório de Registro de Imóvel   132103                 Ativo Predial  114           3.66        1.0000          136            10        RESIDÊNCIA                                           12             RESIDENCIAL HORIZONTAL                                   2001.0    4320120  116     Rua           Itaguara                              Rua Itaguara                                  SP     Cidade Vargas    sul     -23.65046  -46.63509  São Paulo  3550308.0  11.0     1
31011801474              1.Compra e venda    450000.0                    2023-04-06 00:00:00  262005.0                100.00                  262005.0000                          450000.0                  1.Sistema Financeiro de Habitação  100000.0        8º Cartório de Registro de Imóvel   25928                  Ativo Predial  18041         0.00        0.0033          84             20        APARTAMENTO EM CONDOMÍNIO (EXIGE FRAÇÃO IDEAL)       21             RESIDENCIAL VERTICAL                                     1978.0    4309011  1827    Avenida       Engenheiro Armando de Arruda Pereira  Avenida Engenheiro Armando de Arruda Pereira  SP     Jabaquara        sul     -23.66898  -46.63459  São Paulo  3550308.0  11.0     1
31011801695              1.Compra e venda    320000.0                    2023-06-05 00:00:00  262005.0                100.00                  262005.0000                          320000.0                  1.Sistema Financeiro de Habitação  195000.0        8º Cartório de Registro de Imóvel   25106                  Ativo Predial  18041         0.00        0.0033          84             20        APARTAMENTO EM CONDOMÍNIO (EXIGE FRAÇÃO IDEAL)       21             RESIDENCIAL VERTICAL                                     1978.0    4309011  1827    Avenida       Engenheiro Armando de Arruda Pereira  Avenida Engenheiro Armando de Arruda Pereira  SP     Jabaquara        sul     -23.66898  -46.63459  São Paulo  3550308.0  11.0     1
31011802152              1.Compra e venda    325000.0                    2023-02-14 00:00:00  262005.0                100.00                  262005.0000                          325000.0                  1.Sistema Financeiro de Habitação  175000.0        8º Cartório de Registro de Imóvel   25637                  Ativo Predial  18041         0.00        0.0033          84             20        APARTAMENTO EM CONDOMÍNIO (EXIGE FRAÇÃO IDEAL)       21             RESIDENCIAL VERTICAL                                     1978.0    4309011  1827    Avenida       Engenheiro Armando de Arruda Pereira  Avenida Engenheiro Armando de Arruda Pereira  SP     Jabaquara        sul     -23.66898  -46.63459  São Paulo  3550308.0  11.0     1
101102062                1.Compra e venda    250000.0                    2023-05-19 00:00:00  213501.0                100.00                  213501.0000                          250000.0                  2.Minha Casa Minha Vida            200000.0        5º Cartório de Registro de Imóvel   85288                  Ativo Predial  3050          100.00      0.0034          54             20        APARTAMENTO EM CONDOMÍNIO (EXIGE FRAÇÃO IDEAL)       21             RESIDENCIAL VERTICAL                                     2008.0    1103000  151     Rua           Vinte e Cinco de Janeiro              Rua Vinte e Cinco de Janeiro                  SP     Luz              centro  -23.53547  -46.63124  São Paulo  3550308.0  11.0     1
Name: count, Length: 51467, dtype: int64

In [14]:
df.describe(include='object')

,transaction_nature,transaction_date,financing_type,registry_office,sql_status,iptu_use_description,iptu_standard_description,address_type,address_name,address,state,district,zone,city
count,175457,175457,72551,175457,175457,175457,175457,175436,175436,175436,175436,175436,175436,175436
unique,32,1179,3,26,5,34,11,15,17793,17851,1,1447,5,1
top,1.Compra e venda,2023-06-30 00:00:00,1.Sistema Financeiro de Habitação,11º Cartório de Registro de Imóvel,Ativo Predial,APARTAMENTO EM CONDOMÍNIO (EXIGE FRAÇÃO IDEAL),RESIDENCIAL VERTICAL,Rua,André de Almeida,Rua André de Almeida,SP,Vila Andrade,sul,São Paulo
freq,157449,1983,59576,23921,143244,62026,73379,130414,1567,1567,175436,4390,57570,175436

Preprocessamento e Limpeza

___

Análise

___

Modelagem

___

Análise Prescritiva

___